.header {
  height: 15vh;
  position: relative;
  background-image: linear-gradient(to right bottom, #000000c7, #0000008e),
    url(../img/background.png);
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: rgb(245, 245, 245);

  /* makes animation smooth */
  backface-visibility: hidden;
}

.heading-primary-main {
  animation-name: moveInLeft;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

.heading-primary-sub {
  animation-name: moveInRight;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }

  60% {
    transform: translateX(3px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }

  60% {
    transform: translateX(-3px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
