.container {
  height: 100vh;
  position: relative;
  color: white;
  background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.box {
  display: inline-block;
  position: relative;
  top: 30px;
}

.select {
  background-color: white;
  animation-name: fadeIn;
  animation-duration: 1.2s;
}

.calc {
  animation-name: fadeIn;
  animation-duration: 1.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
